@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Circular Std Light";
  src: url("/fonts/CircularStd-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Normal";
  src: url("/fonts/CircularStd-Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Medium";
  src: url("/fonts/CircularStd-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std Bold";
  src: url("/fonts/CircularStd-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std Black";
  src: url("/fonts/CircularStd-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

@layer components {
  .btn-primary {
    padding: 12px 24px;
    background-color: #1b1b1b;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-primary:hover{
    background: #3d3d3d;
  }

  .btn-outline {
    padding: 12px 24px;
    color: #1b1b1b;
    border-width: 1px;
    border-color: #1b1b1b;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
  }
}

html {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Circular Std Normal";
  width: 100%;
  max-width: 1440px;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

@theme {
  --font-circular-light: "Circular Std Light";
  --font-circular-normal: "Circular Std Normal";
  --font-circular-medium: "Circular Std Medium";
  --font-circular-bold: "Circular Std Bold";
  --font-circular-extrabold: "Circular Std Black";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --color-black-dorcas: #090F1C;
  --color-black-100: #000000;
  --color-black-700: #282828;
  --color-black-4: rgba(0, 0, 0, 0.04); 
  --color-black-110:#2A2A2A;
  --color-black-120:#1B1B1B;
  --color-black-30:#DEDEDE;
  --color-black-50:#B8B8B8;
  --color-black-40: #D0D0D0;
  --color-black-80:#717171;
  --color-tob-110: #2A2A2A;
  --color-tob-100: #3A3A3A;
  --color-tob-120: #1B1B1B;
  --color-tob-40: #D0D0D0;
  --color-tob-30:#DEDEDE;
  --color-tob-80:#717171;
  --color-tob-60: #A0A0A0;
  --color-tob-10: #F1F1F1F1;
  --color-success-10: #E5F5ED;
  --color-success-20: #CCEBDB;
  --color-success-90: #19A45B;
  --color-success-80: #2CB67D;
  --color-success-150: #001A00;
  --color-success-100: #009A49;
  --color-success-110: #00802F;
  --color-success-120: #006716;
  --color-success-50:#80CCA4;
  --color-neutral-50: #DEE5ED;
  --color-neutral-10: #F8FAFB;
  --color-neutral-60: #C7D3E1;
  --color-critical-20: #FEF2F1;
  --color-primary-blue-10: #E5F4FF;
  --color-warning-10: #FFF5EA;
  --color-warning-500: #FF8800;
  --color-white-100: #FFFFFF;
  --color-grey-100:#888888;
  --color-grey-80:#888888;
  --color-grey-20:#F5F5F5;
  --color-grey-30:#EDEDED;
  --color-dark-100:#2A2A2A;
  --color-blue-10:#E9EEF3;
  --color-blue-gray-100:#F1F5F9;
  --color-blue-gray-200:#E2E8F0;
  --color-gray-100: #444444;
  --color-gray-700:#061C3D;
  --color-gray-900: #061C3D;
  --color-gray-900: #101828;
  --color-gray-00: #F8FAFB;
  --color-gray-700: #42526B;
  --color-gray-600: #52525B;
  --color-gray-500: #71717A;
  --color-gray-300: #D4D4D8;
  --color-gray-200: #EAECF0;
  --color-gray-50: #F9FAFB;
  --color-orange-60: #FF8800;
  --color-green-50: #19A45B;   
  --color-white-100:#FFFFFF;
  --color-base-white: #FFFFFF;
  --color-2-100:#F1F1F1;
  --color-5-100:#D0D0D0;
  --color-9-100:#717171;
  --color-10-100:#000000;
  --color-12-100:#2A2A2A;
  --color-13-100:#1B1B1B;
  --color-grey-dark: #414141;
  --color-mint-light: #E5F5ED;
  --color-purple-bright: #9747FF;
  --color-green-5: #009A49;
  --color-green-100: #009A49;
  --color-green-lime-10: #84BC2E;
  --color-green-lime-100: #84BC2E;
  --color-purple-vivid-10: #9747FF;
  --color-purple-vivid-100: #9747FF;
  --color-purple-deep-10: #A903DB;
  --color-purple-deep-100: #A903DB;
  --color-red-dark-10: #CD2140;
  --color-red-dark-100: #CD2140;
  --color-grey-soft-100: #FAFAFB;
  --color-orange-warm-100: #FB9C2A;
  
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
